.photo-grid {
    margin: 100px 250px;
}

.image {
    height:200px;
    width: 100%;
    cursor: pointer;
}

.action-row {
    position: relative;
    height:20px;
}

.left-arrow ,
.right-arrow {
    background: #f9f9f9;
    margin-top:-20px;
    width: 30px;
    cursor:pointer;
}

.left-arrow > img,
.right-arrow > img {
    height: 50px;
    width: 20px;
}

.left-arrow {
    margin-left:-40px;
    position:absolute;
}

.right-arrow {
    position: absolute;
    right:10px;
    margin-right: -40px;
}

@media screen and (max-width: 768px) {
    .photo-grid {
        margin: 20px 50px;
    }

    .left-arrow {
        margin-left: -30px;
    }

    .right-arrow {
        margin-right: -30px;
    }

}