.photo-detail-container {
    position: fixed;
    overflow: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
    background-color: rgba(20,20,20,0.8);
    z-index: 100;
}

.photo-detail-container .detail-view {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 70%;
    max-height: 70%;
    margin: auto;
    transition: background-image .3s ease-in-out;
    background-size: cover;
    background-position: center;
}

.img-caption {
    color: #fff;
    font-size:40px;
    text-transform: capitalize;
}

.photo-nav {
    position:relative;
    height:100%
}

.detail-left-arrow {
    left: 10%;
}

.detail-right-arrow {
    right:10%;
}

.detail-left-arrow,
.detail-right-arrow {
    position: absolute;
    width:30px;
    top:46%;
    background-color: #f9f9f9;
    cursor: pointer;
}

.detail-left-arrow > img,
.detail-right-arrow > img{
    height: 50px;
    width: 20px;
}

.close {
    position: absolute;
    top:10%;
    right:10%;
    color:white;
}