.photo-detail-container {
    position: fixed;
    overflow: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
    background-color: rgba(20,20,20,0.8);
    z-index: 100;
}

.photo-detail-container .detail-view {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 70%;
    max-height: 70%;
    margin: auto;
    transition: background-image .3s ease-in-out;
    background-size: cover;
    background-position: center;
}

.img-caption {
    color: #fff;
    font-size:20px;
    text-transform: capitalize;
}

.photo-nav {
    position:relative;
    height:100%
}

.detail-left-arrow {
    position: absolute;
    left: 10%;
    height:60px;
    width:30px;
    top:46%;
    background: #f9f9f9;
    cursor:pointer;
}

.detail-right-arrow {
    position: absolute;
    right:6%;
    height:60px;
    width:30px;
    top:46%;
    background: #f9f9f9;
    cursor: pointer;
}